*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    background-color: rgb(216, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: rgb(236, 234, 234);
    /* padding: 20px 30px; */
    width: 500px;
    border-radius: 7px;
    overflow: hidden;
}

.form{
    padding: 20px 30px;
}

.header{
    background-color: whitesmoke
}

.header h2{
    padding: 20px;
    text-align: center;
}
.form{
    background: transparent;
}
.form-container{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-container label{
    display: block;
    margin-bottom: 6px;
}

.form-container input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    /* background-color:transparent; */
    border-bottom-style: groove;
}

.form-container i{
    position: absolute;
    right: 10px;
    top: 38px;
    visibility: hidden;
}

.form-container small{
    position: absolute;
    left: 0px;
    visibility: hidden;
}

.form button{
    display: block;
    width: 100%;
    background-color: rgb(119, 107, 107);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    
}
#right{
    color: green;
    z-index:2;
}
#wrong{
    color: red;
}